<h2>{{{localize "FFd20.Help.Content.Items.ItemTypes.Physical"}}}</h2>

<ul>
    <li><a href="systems/FFd20/help/items/weapons.hbs">{{{localize "FFd20.Help.Content.Items.Weapons.Label"}}}</a></li>
    <li><a href="systems/FFd20/help/items/equipment.hbs">{{{localize "FFd20.Help.Content.Items.Equipment.Label"}}}</a></li>
    <li><a href="systems/FFd20/help/items/consumables.hbs">{{{localize "FFd20.Help.Content.Items.Consumables.Label"}}}</a></li>
    <li><a href="systems/FFd20/help/items/containers.hbs">{{{localize "FFd20.Help.Content.Items.Containers.Label"}}}</a></li>
    <li><a href="systems/FFd20/help/items/loot.hbs">{{{localize "FFd20.Help.Content.Items.Loot.Label"}}}</a></li>
</ul>

<h2>{{{localize "FFd20.Help.Content.Items.ItemTypes.Other"}}}</h2>

<ul>
</ul>